.stepNavigationButtons
  float: right
  margin-top: 20px
.stepNavigationContainer
  \:global
    .ant-btn
      border-radius: 100px
      font-weight: 400
    .anticon
      vertical-align: middle
.mon
  background: #fff9c4

.tue
  background: #f8bbd0

.wed
  background: #dcedc8

.thu
  background: #ffe0b2

.fri
  background: #bbdefb

.sat
  background: #e1bee7

.sun
  background: #ffcdd2
